/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}


#meals {
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
}

#meals img {
  width: 20%;
  margin: 0;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
